### 처리
1. 파라미터 설정
1. 매수 후보 종목 선별
1. 포트폴리오 조회 및 잔액갱신
1. 당일 스코아 계산
2. 매도 종목 검색 
4. 매수 종목 선정
1. (날짜 다음날 전환)
1. 매도처리
5. 매수처리

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import sqlite3
import csv
import random

%matplotlib notebook

In [2]:
# 전일영업일자 계산
def getBeforeWorkingDate(today):
    sql = "SELECT date FROM holiday_calendar WHERE date < {} AND holiday = 0".format(today)
    return pd.read_sql(sql, con, index_col=None).max()['date']

# 
def checkHoliday(day):
    sql = "SELECT holiday FROM holiday_calendar WHERE date = {}".format(day)
    return pd.read_sql(sql, con, index_col=None)['holiday'][0]

In [3]:
# *****************************
# 파라미터 설정
# *****************************
# 시작날짜
today = "20090312"
# 종료날짜
END_DAY = "20100106"
# 선별거래종목수
CANDIDATE_STOCK_CNT = 10
# 매수/매도 거래량
AMOUNT_BUY = 10
AMOUNT_SELL = 10
# 거래 주기 일자
CYCLE_DAY = 1

# directory
WORKING_DIR = "C:/Users/jseung21/Documents/CybosPlus"
# db file
dbDir = 'C:/Users/jseung21/Documents/CybosPlus/sqlite3'

In [4]:
# DBCP
con = sqlite3.connect(dbDir+"/MondayLab.db")
sqlite3.Connection
cursor = con.cursor()

### Loop 시작점

In [21]:
# 날짜 설정
# today = START_DAY
beforeDay = getBeforeWorkingDate(today)
print("today:[{}], beforDay:[{}]".format(today,beforeDay))

today:[20090313], beforDay:[20090312]

In [162]:
# *****************************
# 매수 후보 종목 선별 TODO 지연
# *****************************

# kospi 200 종목 검색
dfKospi200 = pd.read_sql("SELECT * FROM kospi200", con, index_col=None)
    
# kospi200 종목중에서 매수 후보 주식 선별
i = 0
j = 0
candidate = []
for stockCode in dfKospi200['stockCode']:
    # 
    sqlTdoay = "SELECT stockCode FROM origin_trade WHERE 1=1 \
                AND stockCode = '{}' \
                AND date = {} \
                AND days5MovAvr > days20MovAvr" \
                .format(stockCode,today)
    sqlBeforeDay = "SELECT stockCode FROM origin_trade WHERE 1=1 \
                AND stockCode = '{}' \
                AND date = {} \
                AND days5MovAvr <= days20MovAvr" \
                .format(stockCode,beforeDay)
    
    result1 = pd.read_sql(sqlTdoay, con, index_col=None)
    
    if len(result1) != 0:
        result2 = pd.read_sql(sqlBeforeDay, con, index_col=None)
        
        if len(result2) != 0:
            j += 1
            candidate.append(result2['stockCode'][0])
        
    i += 1
    print("[{}]번째 진행중, [{}]데이터 보유".format(i,j))
    
print("candidate : [{}]".format(len(candidate)))

# 매수 후보 종목 csv 파일생성
fileName = "{}/candidate_{}.csv".format(WORKING_DIR, today)
with open(fileName, 'w') as csvFile:
    writer = csv.writer(csvFile)
    writer.writerow(candidate)

csvFile.close()

[1]번째 진행중, [0]데이터 보유
[2]번째 진행중, [0]데이터 보유
[3]번째 진행중, [0]데이터 보유
[4]번째 진행중, [0]데이터 보유
[5]번째 진행중, [0]데이터 보유
[6]번째 진행중, [1]데이터 보유
[7]번째 진행중, [1]데이터 보유
[8]번째 진행중, [2]데이터 보유
[9]번째 진행중, [2]데이터 보유
[10]번째 진행중, [2]데이터 보유
[11]번째 진행중, [2]데이터 보유
[12]번째 진행중, [2]데이터 보유
[13]번째 진행중, [2]데이터 보유
[14]번째 진행중, [2]데이터 보유
[15]번째 진행중, [2]데이터 보유
[16]번째 진행중, [2]데이터 보유
[17]번째 진행중, [2]데이터 보유
[18]번째 진행중, [2]데이터 보유
[19]번째 진행중, [3]데이터 보유
[20]번째 진행중, [3]데이터 보유
[21]번째 진행중, [3]데이터 보유
[22]번째 진행중, [3]데이터 보유
[23]번째 진행중, [3]데이터 보유
[24]번째 진행중, [4]데이터 보유
[25]번째 진행중, [4]데이터 보유
[26]번째 진행중, [4]데이터 보유
[27]번째 진행중, [5]데이터 보유
[28]번째 진행중, [6]데이터 보유
[29]번째 진행중, [6]데이터 보유
[30]번째 진행중, [6]데이터 보유
[31]번째 진행중, [6]데이터 보유
[32]번째 진행중, [6]데이터 보유
[33]번째 진행중, [6]데이터 보유
[34]번째 진행중, [6]데이터 보유
[35]번째 진행중, [6]데이터 보유
[36]번째 진행중, [6]데이터 보유
[37]번째 진행중, [6]데이터 보유
[38]번째 진행중, [6]데이터 보유
[39]번째 진행중, [7]데이터 보유
[40]번째 진행중, [7]데이터 보유
[41]번째 진행중, [7]데이터 보유
[42]번째 진행중, [7]데이터 보유
[43]번째 진행중, [7]데이터 보유
[44]번째 진행중, [7]데이터 보유
[45]번째 진행중, [7]데이터 보유
[46]번째 진행중, [7]데이터 보유
[47]번째 진행중, [7]데이터 보유
[48]번째 진행중, [7]데이터 보유
[49]번째 진행중, [7]데이터 보유
[50]번째 진행중, [7]데이터 보유
[51]번째 진행중, [7]데이터 보유
[52]번째 진행중, [7]데이터 보유
[53]번째 진행중, [7]데이터 보유
[54]번째 진행중, [8]데이터 보유
[55]번째 진행중, [8]데이터 보유
[56]번째 진행중, [8]데이터 보유
[57]번째 진행중, [8]데이터 보유
[58]번째 진행중, [8]데이터 보유
[59]번째 진행중, [8]데이터 보유
[60]번째 진행중, [8]데이터 보유
[61]번째 진행중, [8]데이터 보유
[62]번째 진행중, [8]데이터 보유
[63]번째 진행중, [8]데이터 보유
[64]번째 진행중, [8]데이터 보유
[65]번째 진행중, [8]데이터 보유
[66]번째 진행중, [8]데이터 보유
[67]번째 진행중, [8]데이터 보유
[68]번째 진행중, [8]데이터 보유
[69]번째 진행중, [8]데이터 보유
[70]번째 진행중, [8]데이터 보유
[71]번째 진행중, [8]데이터 보유
[72]번째 진행중, [8]데이터 보유
[73]번째 진행중, [8]데이터 보유
[74]번째 진행중, [8]데이터 보유
[75]번째 진행중, [8]데이터 보유
[76]번째 진행중, [8]데이터 보유
[77]번째 진행중, [8]데이터 보유
[78]번째 진행중, [8]데이터 보유
[79]번째 진행중, [8]데이터 보유
[80]번째 진행중, [8]데이터 보유
[81]번째 진행중, [8]데이터 보유
[82]번째 진행중, [8]데이터 보유
[83]번째 진행중, [8]데이터 보유
[84]번째 진행중, [8]데이터 보유
[85]번째 진행중, [8]데이터 보유
[86]번째 진행중, [8]데이터 보유
[87]번째 진행중, [8]데이터 보유
[88]번째 진행중, [8]데이터 보유
[89]번째 진행중, [9]데이터 보유
[90]번째 진행중, [10]데이터 보유
[91]번째 진행중, [10]데이터 보유
[92]번째 진행중, [10]데이터 보유
[93]번째 진행중, [11]데이터 보유
[94]번째 진행중, [11]데이터 보유
[95]번째 진행중, [11]데이터 보유
[96]번째 진행중, [11]데이터 보유
[97]번째 진행중, [11]데이터 보유
[98]번째 진행중, [11]데이터 보유
[99]번째 진행중, [11]데이터 보유
[100]번째 진행중, [11]데이터 보유
[101]번째 진행중, [11]데이터 보유
[102]번째 진행중, [11]데이터 보유
[103]번째 진행중, [11]데이터 보유
[104]번째 진행중, [11]데이터 보유
[105]번째 진행중, [11]데이터 보유
[106]번째 진행중, [11]데이터 보유
[107]번째 진행중, [11]데이터 보유
[108]번째 진행중, [11]데이터 보유
[109]번째 진행중, [11]데이터 보유
[110]번째 진행중, [11]데이터 보유
[111]번째 진행중, [11]데이터 보유
[112]번째 진행중, [11]데이터 보유
[113]번째 진행중, [11]데이터 보유
[114]번째 진행중, [11]데이터 보유
[115]번째 진행중, [11]데이터 보유
[116]번째 진행중, [11]데이터 보유
[117]번째 진행중, [11]데이터 보유
[118]번째 진행중, [11]데이터 보유
[119]번째 진행중, [11]데이터 보유
[120]번째 진행중, [11]데이터 보유
[121]번째 진행중, [11]데이터 보유
[122]번째 진행중, [11]데이터 보유
[123]번째 진행중, [11]데이터 보유
[124]번째 진행중, [11]데이터 보유
[125]번째 진행중, [11]데이터 보유
[126]번째 진행중, [11]데이터 보유
[127]번째 진행중, [11]데이터 보유
[128]번째 진행중, [11]데이터 보유
[129]번째 진행중, [11]데이터 보유
[130]번째 진행중, [12]데이터 보유
[131]번째 진행중, [12]데이터 보유
[132]번째 진행중, [12]데이터 보유
[133]번째 진행중, [12]데이터 보유
[134]번째 진행중, [13]데이터 보유
[135]번째 진행중, [13]데이터 보유
[136]번째 진행중, [13]데이터 보유
[137]번째 진행중, [13]데이터 보유
[138]번째 진행중, [13]데이터 보유
[139]번째 진행중, [14]데이터 보유
[140]번째 진행중, [14]데이터 보유
[141]번째 진행중, [15]데이터 보유
[142]번째 진행중, [15]데이터 보유
[143]번째 진행중, [15]데이터 보유
[144]번째 진행중, [15]데이터 보유
[145]번째 진행중, [15]데이터 보유
[146]번째 진행중, [15]데이터 보유
[147]번째 진행중, [15]데이터 보유
[148]번째 진행중, [15]데이터 보유
[149]번째 진행중, [15]데이터 보유
[150]번째 진행중, [15]데이터 보유
[151]번째 진행중, [15]데이터 보유
[152]번째 진행중, [15]데이터 보유
[153]번째 진행중, [15]데이터 보유
[154]번째 진행중, [16]데이터 보유
[155]번째 진행중, [16]데이터 보유
[156]번째 진행중, [16]데이터 보유
[157]번째 진행중, [17]데이터 보유
[158]번째 진행중, [17]데이터 보유
[159]번째 진행중, [17]데이터 보유
[160]번째 진행중, [17]데이터 보유
[161]번째 진행중, [17]데이터 보유
[162]번째 진행중, [17]데이터 보유
[163]번째 진행중, [17]데이터 보유
[164]번째 진행중, [17]데이터 보유
[165]번째 진행중, [17]데이터 보유
[166]번째 진행중, [17]데이터 보유
[167]번째 진행중, [17]데이터 보유
[168]번째 진행중, [17]데이터 보유
[169]번째 진행중, [17]데이터 보유
[170]번째 진행중, [17]데이터 보유
[171]번째 진행중, [17]데이터 보유
[172]번째 진행중, [17]데이터 보유
[173]번째 진행중, [18]데이터 보유
[174]번째 진행중, [19]데이터 보유
[175]번째 진행중, [19]데이터 보유
[176]번째 진행중, [19]데이터 보유
[177]번째 진행중, [19]데이터 보유
[178]번째 진행중, [19]데이터 보유
[179]번째 진행중, [19]데이터 보유
[180]번째 진행중, [19]데이터 보유
[181]번째 진행중, [19]데이터 보유
[182]번째 진행중, [19]데이터 보유
[183]번째 진행중, [19]데이터 보유
[184]번째 진행중, [19]데이터 보유
[185]번째 진행중, [19]데이터 보유
[186]번째 진행중, [19]데이터 보유
[187]번째 진행중, [19]데이터 보유
[188]번째 진행중, [19]데이터 보유
[189]번째 진행중, [19]데이터 보유
[190]번째 진행중, [19]데이터 보유
[191]번째 진행중, [19]데이터 보유
[192]번째 진행중, [19]데이터 보유
[193]번째 진행중, [19]데이터 보유
[194]번째 진행중, [19]데이터 보유
[195]번째 진행중, [19]데이터 보유
[196]번째 진행중, [19]데이터 보유
[197]번째 진행중, [19]데이터 보유
[198]번째 진행중, [19]데이터 보유
[199]번째 진행중, [19]데이터 보유
[200]번째 진행중, [19]데이터 보유
candidate : [19]

In [22]:
# *****************************
# [임시] candidate list 생성
# *****************************
fileName = "{}/candidate_20090313.csv".format(WORKING_DIR)
with open(fileName) as f:
    candidate = f.read().splitlines()

print(type(candidate), len(candidate))
candidate[:5]

<class 'list'> 28

['A006840', 'A005830', 'A000990', 'A000660', 'A006280']

In [23]:
# *****************************
# 포트폴리오 조회 및 잔액갱신
# *****************************
sqlPortfolio = "SELECT seq, stockCode, amountBuy, priceBuy FROM Portfolio WHERE 1=1 \
                AND trading = 1"
portfolio = pd.read_sql(sqlPortfolio, con, index_col=None)

print("portfolio 건수 : [{}] ".format(len(portfolio)))

# 잔액 갱신 
for index, myStock in portfolio.iterrows():
    sqlFinalPrice = "select stockCode, finalPrice from origin_trade where 1=1 \
                    and stockCode = '{}' \
                    and date = {}" \
                    .format(myStock['stockCode'], today)
#     print("sqlFinalPrice:[{}]".format(sqlFinalPrice))
    result = pd.read_sql(sqlFinalPrice, con, index_col=None)

    # update
    priceSell = result['finalPrice'][0]*AMOUNT_SELL
    balance = priceSell - myStock['priceBuy']
    sqlUpdate = "update portfolio set \
                dateSell = {} \
                , amountSell = {} \
                , priceSell = {} \
                , balance = {} \
                where 1=1 \
                  and seq = {}" \
                .format(today, AMOUNT_SELL, priceSell, balance, myStock['seq'])
    print("sqlUpdate:[{}]".format(sqlUpdate))
    cursor.execute(sqlUpdate)
con.commit()

portfolio 건수 : [10]
sqlUpdate:[update portfolio set                 dateSell = 20090313                 , amountSell = 10                 , priceSell = 186080                 , balance = -5370                 where 1=1                   and seq = 1]
sqlUpdate:[update portfolio set                 dateSell = 20090313                 , amountSell = 10                 , priceSell = 1260000                 , balance = 0                 where 1=1                   and seq = 2]
sqlUpdate:[update portfolio set                 dateSell = 20090313                 , amountSell = 10                 , priceSell = 373780                 , balance = 2070                 where 1=1                   and seq = 3]
sqlUpdate:[update portfolio set                 dateSell = 20090313                 , amountSell = 10                 , priceSell = 363010                 , balance = 10370                 where 1=1                   and seq = 4]
sqlUpdate:[update portfolio set                 dateSell = 20090313                 , amountSell = 10                 , priceSell = 720000                 , balance = -1000                 where 1=1                   and seq = 5]
sqlUpdate:[update portfolio set                 dateSell = 20090313                 , amountSell = 10                 , priceSell = 266500                 , balance = -3500                 where 1=1                   and seq = 6]
sqlUpdate:[update portfolio set                 dateSell = 20090313                 , amountSell = 10                 , priceSell = 33250                 , balance = -50                 where 1=1                   and seq = 7]
sqlUpdate:[update portfolio set                 dateSell = 20090313                 , amountSell = 10                 , priceSell = 26800                 , balance = 400                 where 1=1                   and seq = 8]
sqlUpdate:[update portfolio set                 dateSell = 20090313                 , amountSell = 10                 , priceSell = 224000                 , balance = -9500                 where 1=1                   and seq = 9]
sqlUpdate:[update portfolio set                 dateSell = 20090313                 , amountSell = 10                 , priceSell = 41000                 , balance = -500                 where 1=1                   and seq = 10]

In [25]:
# *****************************
# 당일 스코아 계산
# *****************************
sqlScore = "select sum(priceBuy) as totalInvest, sum(priceSell) as toltalCurrVal from Portfolio"
resultScore = pd.read_sql(sqlScore, con, index_col=None)
if resultScore['totalInvest'][0] != None:
    totalInvest = resultScore['totalInvest'][0]
    toltalCurrVal = resultScore['toltalCurrVal'][0]
    score = round(float(toltalCurrVal) / float(totalInvest),5)

    sqlIstScore = "insert into Score values ({},{}, {},{})" \
                  .format(today, totalInvest, toltalCurrVal, score)
    print("sqlIstScore:[{}]".format(sqlIstScore))
    cursor.execute(sqlIstScore)
    con.commit()

sqlIstScore:[insert into Score values (20090313,3501500, 3494420,0.99798)]

In [26]:
# *****************************
# 매도 종목 검색
# *****************************
stockSell = []
if len(portfolio) != 0:
    for index, stcokSell in portfolio.iterrows():
        sqlStockSell = "SELECT stockCode FROM origin_trade WHERE 1=1 \
                        AND stockCode = '{}' \
                        AND date = {} \
                        AND days5MovAvr < days20MovAvr" \
                        .format(stcokSell['stockCode'], today)
#         print("sqlStockSell:[{}]".format(sqlStockSell))
        sellStockCode = pd.read_sql(sqlStockSell, con, index_col=None)
        
        if len(sellStockCode) != 0:
            stockSell.append([stcokSell['seq'], sellStockCode['stockCode'][0], stcokSell['priceBuy']])
            
print("stockSell 건수:[{}]".format(len(stockSell)))

stockSell 건수:[0]

In [17]:
# *****************************
# 매수 종목 선정
# *****************************
buyStockCount = CANDIDATE_STOCK_CNT - len(portfolio) + len(stockSell)
print("buyStockCount : [{}]".format(buyStockCount))

# list에서 random 추출
buyStocks = 0
if len(candidate) <= len(buyStockCount):
    buyStocks = len(candidate)
else:
    buyStocks = random.sample(candidate, buyStockCount)

buyStockCount : [10]

In [18]:
# *****************************
# (날짜 다음날 전환)
# *****************************
from datetime import datetime  
from datetime import timedelta 

temp = today
for i in range(1,100):
    nextDate = datetime.strptime(str(today), "%Y%m%d") + timedelta(days=i)
    checkDay = nextDate.strftime('%Y%m%d')
    if checkHoliday(checkDay) == 0:
        break
today = checkDay
print("chage today [{}] to [{}]".format(temp, today))

chage today [20090312] to [20090313]

In [19]:
# *****************************
# 매도 처리
# *****************************
if len(stockSell) != 0:
    for sellStockCode in stockSell:
        # 시초가 거래
        sqlSell = "select startPrice from origin_trade where 1=1 \
                    AND stockCode = '{}' \
                    AND date = {}" \
                    .format(sellStockCode[1], today)
        print("sqlSell:[{}]".format(sqlSell))
        startPrice = pd.read_sql(sqlSell, con, index_col=None)['startPrice'][0]
        
        # Trading 매도 내역 생성
        stockPrice = startPrice*AMOUNT_SELL
        sqlInstSellTrd = "insert into Trading values ({},{},'{}',{},{})" \
                        .format(today, 2, sellStockCode[1], AMOUNT_SELL, stockPrice)
        print("sqlInstSellTrd:[{}]".format(sqlInstSellTrd))
        cursor.execute(sqlInstSellTrd)

        # Portfolio 갱신
        balance = stockPrice - sellStockCode[2]
        seq = sellStockCode[0]
        sqlUpdate = "update portfolio set \
                    trading = 2 \
                    , dateSell = {} \
                    , amountSell = {} \
                    , priceSell = {} \
                    , balance = {} \
                    where 1=1 \
                      and seq = {}" \
                    .format(today, AMOUNT_SELL, stockPrice, balance, seq)
        print("sqlUpdate:[{}]".format(sqlUpdate))
        cursor.execute(sqlUpdate)

    con.commit()

In [20]:
# *****************************
# 매수처리
# *****************************
for stockBuyCode in buyStocks:
    # 시초가 거래
    sqlBuy = "select startPrice from origin_trade where 1=1 \
              AND stockCode = '{}' \
              AND date = {}" \
              .format(stockBuyCode, today)
    startPrice = pd.read_sql(sqlBuy, con, index_col=None)['startPrice'][0]

    print("stockBuyCode:[{}], startPrice:[{}]".format(stockBuyCode, startPrice))
    
    # Trading 매수 내역 생성
    sqlInstBuyTrd = "insert into Trading values({},{},'{}',{},{})" \
                   .format(today, 1, stockBuyCode, AMOUNT_BUY, startPrice*AMOUNT_BUY)
    cursor.execute(sqlInstBuyTrd)
    
    # Portfolio 생성
    sqlSeq = "select max(seq) as maxSeq from Portfolio"
    seq = pd.read_sql(sqlSeq, con, index_col=None)['maxSeq'][0]
    if seq == None:
        seq = 0
    seq += 1
    trading = 1
    stockPrice = startPrice*AMOUNT_BUY
    
    print("seq:[{}],trading:[{}],stockCode:[{}],stockAmount:[{}],stockPrice:[{}]"\
         .format(seq,trading,stockBuyCode,today,AMOUNT_BUY,stockPrice))
    sqlInsert = "insert into Portfolio values({},{},'{}',{},{},{},{},{},{},{})" \
                .format(seq, trading, stockBuyCode, today, AMOUNT_BUY, stockPrice,0,0,0,0)
    cursor.execute(sqlInsert)

con.commit()

stockBuyCode:[A010140], startPrice:[19145]
seq:[1],trading:[1],stockCode:[A010140],stockAmount:[20090313],stockPrice:[10]
stockBuyCode:[A007310], startPrice:[126000]
seq:[2],trading:[1],stockCode:[A007310],stockAmount:[20090313],stockPrice:[10]
stockBuyCode:[A000070], startPrice:[37171]
seq:[3],trading:[1],stockCode:[A000070],stockAmount:[20090313],stockPrice:[10]
stockBuyCode:[A001040], startPrice:[35264]
seq:[4],trading:[1],stockCode:[A001040],stockAmount:[20090313],stockPrice:[10]
stockBuyCode:[A006260], startPrice:[72100]
seq:[5],trading:[1],stockCode:[A006260],stockAmount:[20090313],stockPrice:[10]
stockBuyCode:[A015760], startPrice:[27000]
seq:[6],trading:[1],stockCode:[A015760],stockAmount:[20090313],stockPrice:[10]
stockBuyCode:[A008060], startPrice:[3330]
seq:[7],trading:[1],stockCode:[A008060],stockAmount:[20090313],stockPrice:[10]
stockBuyCode:[A005850], startPrice:[2640]
seq:[8],trading:[1],stockCode:[A005850],stockAmount:[20090313],stockPrice:[10]
stockBuyCode:[A025860], startPrice:[23350]
seq:[9],trading:[1],stockCode:[A025860],stockAmount:[20090313],stockPrice:[10]
stockBuyCode:[A019680], startPrice:[4150]
seq:[10],trading:[1],stockCode:[A019680],stockAmount:[20090313],stockPrice:[10]